	<% provide(:title, 'About') %>
	<h1>About</h1>
		<h2>
			Caregiving in the U.S.
		</h2>

<div class="about">
<div class="row">
  <div class="col-md-8 col-md-offset-3">
		<a href="http://www.aarp.org/content/dam/aarp/ppi/2015/caregiving-in-the-united-states-2015-report-revised.pdf">
		AARP Public Policy Institute</a>
		<p>2015 Report: Caregiving in the U.S.</p>
			<h3>
				III. Key Findings
			</h3>
				<h4>
					Prevalence of Caregiving
				</h4>
					<p>
						An estimated <mark><strong>43.5 million</strong> adults in the United States have provided unpaid care</mark> to an adult or a child in the prior 12 months.
					</p>
				<h4>
					Basics of the Caregiving Situation
				</h4>
					<p>
						<mark>The majority of caregivers</mark> are female (60%), but 40 percent are male. Eight in 10 are taking care of one person (82%). They <mark>are 49 years of age,</mark> on average. A large majority of caregivers provide care for a relative (85%), with 49 percent caring for a parent or parent-in-law. One in 10 provides care for a spouse. Higher-hour caregivers are almost four times as likely to be caring for a spouse/partner.
					</p>
					<p>
						Nearly 1 in 10 caregivers is 75 years of age or older (7%). [...] 
					</p>
					<p>
						How long have all caregivers of adults been in their role? <mark>On average, they have been in their role for 4 years,</mark> with a quarter having provided care for 5 years or more (24%).  Higher-hour caregivers are twice as likely to have been in their caregiving role for 10 or more years.
					</p>
					<p>
						The typical care recipient is female (65%) and averages 69.4 years of age. Nearly half of caregivers provide care to someone 75 years old or older (47%). Roughly half of care recipients live in their own home (48%). However, as hours of care increase, so do the chances that the care recipient co-resides with the caregiver.
					</p>
					<p>
						[...]
					</p>
				<h4>
					Primary Caregiver Status
				</h4>
					<p>
						<mark>Over six in 10 caregivers perceive themselves to be the primary unpaid caregiver,</mark> meaning either that they are sole caregivers (47%) or that there are other unpaid caregivers, but they themselves provide the majority of unpaid care (16%). <mark>The 37 percent who are non-primary caregivers includes 12 percent who share caregiving equally with someone else and 25 percent who say another caregiver provides most of the unpaid care.</mark>
					</p>
					<p>
						Three out of four higher-hour caregivers are their recipient’s primary caregiver, more so than lower-hour caregivers (56%).
					</p>
	<!-- Footnotes -->
	<h6>
		7 As with prior Caregiving in the U.S. studies, prevalence estimates are inclusive of those having provided
		in the 12 months before the time they were surveyed, whether they were currently a caregiver at the time
		of survey or had been a caregiver in the prior 12 months but no longer were.
		8 Add the estimated 13.9% caring for an adult only plus the 2.7% caring for both a child and adult to get
		the total prevalence estimate of caring for an adult. 9 Higher-hour caregivers are those providing 21 or more hours of care weekly, while lower-hour
		caregivers are those providing 0–20 hours of care.
	</h6>
</div>
</div></div>