<% provide(:title, 'Contact') %>
<h1>Contact</h1>
	<h2>
		Contact Us for more information
	</h2>
		<div class="contactus">
			<form>
				First name:
			<br>
				<input type="text" name="firstname">
			<br>
				Last name:
			<br>
				<input type="text" name="lastname">
			<br>
				Email Address:
			<br>
				<input type="text" email="email">
			<br>
			<br>
				Message:
			<br>
				<textarea cols="50" rows="4" name="comment"></textarea>
			<br>
			<br>
				<input type="submit" onclick="validateForm()">
			</form>
		</div>
