<% provide(:title, 'Contact') %>
<h1>Contact</h1>
	<h2>
		Contact Us for more information
	</h2>
		<div class="contactus">
			<form>
			<br>
				<input class="c_input" type="text" name="firstname" placeholder="First name">
			<br>
				<input class="c_input" type="text" name="lastname" placeholder="Last name">
			<br>
				<input class="c_input" type="text" email="email" placeholder="Email">
			<br>
				<textarea class="c_input" cols="50" rows="4" name="comment" placeholder="Message"></textarea>
			<br>
			<br>
				<input type="submit" onclick="validateForm()">
			</form>
		</div>
