<div class="help">
<% provide(:title, 'Help') %>
<h1>Help</h1>
	<h2>Helpful App Information</h2>
		<h3>Home Page</h3>
			<ol>
				Without signing in, you have access to the following sections:
				<li>Help</li>
				<li>About</li>
				<li>Contact</li>
				<li>Log in</li>
				<li>Sign up now!</li>
			</ol>
			<ol>
				Once you "Sign up," you will have access to the following user sections:
				<li>Micropost - this is a place to share information with other Users</li>
				<li>Users - a list of all users.  You can choose to "follow", or "unfollow" other Users.</li>
				<li>Profile</li>
				<li>Settings</li>
				<li>Useful Tools</li>
					<ul>
						<li>Todo List</li>
						<li>Addresses</li>
						<li>Medications</li>
					</ul>
			</ol>
