<% provide(:title, 'Resources') %>
<h1><%= "#{t('resources')}" %></h1>
	<h2><%= "#{t('helpful_resources')}" %></h2>
		<div class="resources">
			<ol>
				<li>
					<a href="http://www.aarp.org/home-family/caregiving/caregiving-tools/?gclid=Cj0KEQjw9b6-BRCq7YP34tvW_uUBEiQAkK3svVPm_jzpDYH6ZAk09UjPAAmMlBnBNBz_MSIMO6cGzkMaAtMb8P8HAQ&CMP=KNC-DSO-Adobe-Google-Caregiving-New-NonBrand&s_kwcid=AL!4520!3!98028930273!b!!g!!%2Bcaregiving%20%2Bresources&ef_id=V1XUbQAAAIOA0p8e:20160907140647:s">
					AARP Real Possibilities:</a>  Caregiving Tools
				</li>
				<br><br>
				<li>
					<a href="https://www.medicare.gov/campaigns/caregiver/caregiver.html">
					Medicare.gov:</a>  I'm a caregiver - Caregiver resources
				</li>
				<br><br>
				<li>
					<a href="https://www.ssa.gov/planners/disability/dfamily.html">
					Social Security Administration [US]:</a>  Disability Planner: Family Benefits
				</li>
			</0l>
		</div>