<footer class="footer">
  <small>
  	<div>
    	<p>Virginia Maroulakos Rucinski &copy;  <span id="year"></span></p>
    	<br>
  </small>




  <script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>


</footer>
